In [1]:
import numpy as np
import pandas as pd

In [2]:
with open('./eval.txt', 'r') as f:
    results = f.readlines()

# Remove any non-result lines from the eval file, and split the lines on the tab character
# (results have format: model_name\tdataset_name\tmetric_name\tmetric_value)
results = [r.replace('\n','').split('\t') for r in results if '\t' in r]

In [3]:
def remove_underscore_after(val): # Remove underscore, and keep the part after the underscore
    return val.split('_')[-1]
def remove_underscore_before(val): # Remove underscore, and keep the part before the underscore
    return val.split('_')[0]
def map2d(func, grid): # Mapping for 2d arrays, from: https://stackoverflow.com/questions/70742445/elegant-map-over-2d-list
    return [[func(value) for value in row] for row in grid]
def full_display(df):
    with pd.option_context('display.max_rows', None, 'display.max_columns', None):
        display(df)

df = pd.DataFrame(results, columns = ['model', 'dataset', 'metric', 'value'])
df['value'] = pd.to_numeric(df['value'])
df['model'] = df['model'].map(lambda x: '-'.join(x.split('-')[2:]))
models = df['model'].str.split('-').tolist()

# Remove all underscores from our 2d list, keep one list of the param names and one with param vals
model_names_list = map2d(remove_underscore_before, models)
model_names = np.array(model_names_list)
model_val_list = map2d(remove_underscore_after, models)
model_vals = np.array(model_val_list)

In [4]:
model_vals.shape, model_names.shape

((11470, 14), (11470, 14))

In [5]:
# Splitting model name into more columns
for i in range(model_names.shape[-1]):
    name = model_names[0][i]
    val = model_vals[:,i]
    df[name] = val
    try:
       df[name] = pd.to_numeric(df[name]) 
    except:
        pass

# Remove columns that aren't relevant
df = df.drop(['fold', 'PL', 'vit', 'model', 'data', 'ALL', 'ratio', 'kw'], axis = 1) #'method', 'AL.iter', 

# Replace 'None' with NaN, to allow conversion to numerical
df['AL.iter'] = df['AL.iter'].replace('None', np.nan)
df['AL.iter'] = pd.to_numeric(df['AL.iter'])
df['AL.epochs'] = df['AL.epochs'].replace('None', np.nan)
df['AL.epochs'] = pd.to_numeric(df['AL.epochs'])

cols = sorted(df.columns.tolist())
print(cols)
# The ratio have the format: 'ratio_xxx' where xxx is some float.
# We only want that float value, and need to convert it from string to float.
# df['ratio'] = pd.to_numeric(df['ratio'])
display(df)

# Group by all columns except the performance values, then compute mean, std and number of model runs for the performance
df_grouped = df.groupby(list(set(cols)-set(['value'])), dropna = False).agg({'value':['mean', 'std', 'count']})

['AL.epochs', 'AL.iter', 'bs', 'dataset', 'epochs', 'lr', 'method', 'metric', 'value']

,dataset,metric,value,method,AL.iter,AL.epochs,epochs,lr,bs
0,RSICD-CLS,zeroshot-val-top1,60.99,base,NaN,NaN,5,0.00005,64
1,UCM-CLS,zeroshot-val-top1,56.84,base,NaN,NaN,5,0.00005,64
2,RSICD,image_to_text_R@1,4.76,base,NaN,NaN,5,0.00005,64
3,RSICD,image_to_text_R@5,20.05,base,NaN,NaN,5,0.00005,64
4,RSICD,image_to_text_R@10,33.88,base,NaN,NaN,5,0.00005,64
...,...,...,...,...,...,...,...,...,...
11465,Sydney,image_to_text_R@5,4.63,base,3.0,1.0,1,0.00001,64
11466,Sydney,image_to_text_R@10,10.46,base,3.0,1.0,1,0.00001,64
11467,Sydney,text_to_image_R@1,0.60,base,3.0,1.0,1,0.00001,64
11468,Sydney,text_to_image_R@5,5.03,base,3.0,1.0,1,0.00001,64
11469,Sydney,text_to_image_R@10,10.87,base,3.0,1.0,1,0.00001,64

In [6]:
display(df_grouped)

                                                                            value  \
                                                                             mean
metric            dataset AL.epochs method bs  epochs lr       AL.iter
image_to_text_R@1 RSICD   1.0       base   64  1      0.000010 3.0       1.100000
                          5.0       base   64  20     0.000010 3.0       3.570000
                                                               5.0       3.570000
                                                               7.0       1.830000
                          10.0      base   64  10     0.000010 3.0       2.700000
...                                                                           ...
zeroshot-val-top1 UCM-CLS NaN       ours   128 30     0.000050 NaN      64.811111
                                                      0.000500 NaN       5.856667
                                               35     0.000005 NaN      59.240000
                                                      0.000050 NaN      65.145556
                                                      0.000500 NaN       5.906667

                                                                                  \
                                                                             std
metric            dataset AL.epochs method bs  epochs lr       AL.iter
image_to_text_R@1 RSICD   1.0       base   64  1      0.000010 3.0           NaN
                          5.0       base   64  20     0.000010 3.0           NaN
                                                               5.0           NaN
                                                               7.0           NaN
                          10.0      base   64  10     0.000010 3.0      1.230366
...                                                                          ...
zeroshot-val-top1 UCM-CLS NaN       ours   128 30     0.000050 NaN      1.539297
                                                      0.000500 NaN      2.621769
                                               35     0.000005 NaN      2.820120
                                                      0.000050 NaN      1.852924
                                                      0.000500 NaN      2.690938


                                                                       count
metric            dataset AL.epochs method bs  epochs lr       AL.iter
image_to_text_R@1 RSICD   1.0       base   64  1      0.000010 3.0         1
                          5.0       base   64  20     0.000010 3.0         1
                                                               5.0         1
                                                               7.0         1
                          10.0      base   64  10     0.000010 3.0         2
...                                                                      ...
zeroshot-val-top1 UCM-CLS NaN       ours   128 30     0.000050 NaN         9
                                                      0.000500 NaN         9
                                               35     0.000005 NaN         9
                                                      0.000050 NaN         9
                                                      0.000500 NaN         9

[1560 rows x 3 columns]

In [7]:
df_grouped.to_csv('eval.csv')

In [8]:
df_results = df_grouped.reset_index()
df_results['AL.epochs'] = df_results['AL.epochs'].fillna(df_results['epochs'])
df_results = df_results.sort_values(['metric', 'dataset', ('value', 'mean')])
# df_results = df_results.groupby(['metric', 'dataset'])
# df_results = df_grouped.reset_index()
# df_results = df_results.sort_values(['metric', 'dataset', ('value', 'mean')])

# df_2 = df_2[(df_2['method'] == 'ours') & (df_2['ratio'] == 0.2) & (df_2['PL'] == 'ot.image')] # (df_2['metric'] == 'image_to_text_R@5') &
# df_2 = df_2[(df_2['epochs'] > 20)  & (df_2['bs'] == 64) & (df_2['lr']==5e-5)] # &(df_2['lr']==5e-5)
# df_2 = df_2[(df_2['lr']==5e-5) & (df_2['bs'] == 64) & (df_2['method'] == 'base')] # &(df_2['lr']==5e-5)
display(df_results)

                 metric  dataset AL.epochs method   bs epochs       lr  \

38    image_to_text_R@1    RSICD       5.0   ours   64      5  0.00050
50    image_to_text_R@1    RSICD      25.0   ours   64     25  0.00050
59    image_to_text_R@1    RSICD       5.0   ours  128      5  0.00050
53    image_to_text_R@1    RSICD      30.0   ours   64     30  0.00050
41    image_to_text_R@1    RSICD      10.0   ours   64     10  0.00050
...                 ...      ...       ...    ...  ...    ...      ...
1558  zeroshot-val-top1  UCM-CLS      35.0   ours  128     35  0.00005
1514  zeroshot-val-top1  UCM-CLS      20.0   base   64     20  0.00005
1515  zeroshot-val-top1  UCM-CLS      25.0   base   64     25  0.00005
1517  zeroshot-val-top1  UCM-CLS      35.0   base   64     35  0.00005
1516  zeroshot-val-top1  UCM-CLS      30.0   base   64     30  0.00005

     AL.iter      value
                   mean       std count
38       NaN   0.070000  0.060000     9
50       NaN   0.080000  0.030000     9
59       NaN   0.080000  0.030000     9
53       NaN   0.090000  0.045000     9
41       NaN   0.100000  0.030000     9
...      ...        ...       ...   ...
1558     NaN  65.145556  1.852924     9
1514     NaN  66.242222  2.822781     9
1515     NaN  66.857778  3.878353     9
1517     NaN  67.378889  2.900217     9
1516     NaN  67.712222  2.909960     9

[1560 rows x 11 columns]

In [9]:
df_results.shape

(1560, 11)

In [10]:
# Results with active learning
full_display(df_results[df_results['AL.iter']>0].groupby(['metric', 'dataset']).tail(3))

                  metric    dataset AL.epochs method  bs epochs       lr  \

24     image_to_text_R@1      RSICD      15.0   base  64     15  0.00005
6      image_to_text_R@1      RSICD      10.0   base  64     25  0.00001
30     image_to_text_R@1      RSICD      20.0   base  64     20  0.00005
87     image_to_text_R@1     Sydney      10.0   base  64     25  0.00001
79     image_to_text_R@1     Sydney       5.0   base  64     20  0.00001
81     image_to_text_R@1     Sydney       5.0   base  64     20  0.00001
157    image_to_text_R@1        UCM       5.0   base  64     20  0.00001
165    image_to_text_R@1        UCM      10.0   base  64     25  0.00001
164    image_to_text_R@1        UCM      10.0   base  64     25  0.00001
265   image_to_text_R@10      RSICD      20.0   base  64     20  0.00005
258   image_to_text_R@10      RSICD      15.0   base  64     15  0.00005
259   image_to_text_R@10      RSICD      15.0   base  64     15  0.00005
317   image_to_text_R@10     Sydney      10.0   base  64     25  0.00001
315   image_to_text_R@10     Sydney       5.0   base  64     20  0.00001
313   image_to_text_R@10     Sydney       5.0   base  64     20  0.00001
395   image_to_text_R@10        UCM      10.0   base  64     25  0.00001
415   image_to_text_R@10        UCM      15.0   base  64     15  0.00005
420   image_to_text_R@10        UCM      20.0   base  64     20  0.00005
493    image_to_text_R@5      RSICD      15.0   base  64     15  0.00005
492    image_to_text_R@5      RSICD      15.0   base  64     15  0.00005
499    image_to_text_R@5      RSICD      20.0   base  64     20  0.00005
551    image_to_text_R@5     Sydney      10.0   base  64     25  0.00001
549    image_to_text_R@5     Sydney       5.0   base  64     20  0.00001
547    image_to_text_R@5     Sydney       5.0   base  64     20  0.00001
625    image_to_text_R@5        UCM       5.0   base  64     20  0.00001
629    image_to_text_R@5        UCM      10.0   base  64     25  0.00001
654    image_to_text_R@5        UCM      20.0   base  64     20  0.00005
726    text_to_image_R@1      RSICD      15.0   base  64     15  0.00005
727    text_to_image_R@1      RSICD      15.0   base  64     15  0.00005
733    text_to_image_R@1      RSICD      20.0   base  64     20  0.00005
783    text_to_image_R@1     Sydney       5.0   base  64     20  0.00001
785    text_to_image_R@1     Sydney      10.0   base  64     25  0.00001
781    text_to_image_R@1     Sydney       5.0   base  64     20  0.00001
860    text_to_image_R@1        UCM       5.0   base  64     20  0.00001
867    text_to_image_R@1        UCM      10.0   base  64     25  0.00001
888    text_to_image_R@1        UCM      20.0   base  64     20  0.00005
960   text_to_image_R@10      RSICD      15.0   base  64     15  0.00005
961   text_to_image_R@10      RSICD      15.0   base  64     15  0.00005
967   text_to_image_R@10      RSICD      20.0   base  64     20  0.00005
1019  text_to_image_R@10     Sydney      10.0   base  64     25  0.00001
1015  text_to_image_R@10     Sydney       5.0   base  64     20  0.00001
1017  text_to_image_R@10     Sydney       5.0   base  64     20  0.00001
1100  text_to_image_R@10        UCM      10.0   base  64     25  0.00001
1122  text_to_image_R@10        UCM      20.0   base  64     20  0.00005
1117  text_to_image_R@10        UCM      15.0   base  64     15  0.00005
1194   text_to_image_R@5      RSICD      15.0   base  64     15  0.00005
1195   text_to_image_R@5      RSICD      15.0   base  64     15  0.00005
1201   text_to_image_R@5      RSICD      20.0   base  64     20  0.00005
1253   text_to_image_R@5     Sydney      10.0   base  64     25  0.00001
1249   text_to_image_R@5     Sydney       5.0   base  64     20  0.00001
1251   text_to_image_R@5     Sydney       5.0   base  64     20  0.00001
1351   text_to_image_R@5        UCM      15.0   base  64     15  0.00005
1331   text_to_image_R@5        UCM      10.0   base  64     25  0.00001
1356   text_to_image_R@5        UCM      20.0   base  64     20  0.00005
1428   zeroshot-val-top1  RSICD-CLS      15.0   base  64     15  0.00005
1429   zeroshot-val-top1  RSICD-CLS      15.0   base  64     15  0.00005
1435   zeroshot-val-top1  RSICD-CLS      20.0   base  64     20  0.00005
1507   zeroshot-val-top1    UCM-CLS      15.0   base  64     15  0.00005
1512   zeroshot-val-top1    UCM-CLS      20.0   base  64     20  0.00005
1490   zeroshot-val-top1    UCM-CLS      10.0   base  64     25  0.00001

     AL.iter      value
                   mean       std count
24       3.0   4.037778  0.666254     9
6        3.0   4.120000       NaN     1
30       3.0   4.254444  0.675150     9
87      10.0   5.430000       NaN     1
79       3.0   6.640000       NaN     1
81       7.0   7.040000       NaN     1
157      3.0   8.970000       NaN     1
165     10.0   8.970000       NaN     1
164      7.0   9.400000       NaN     1
265      5.0  25.775000  0.063640     2
258      3.0  25.854444  1.790887     9
259      5.0  25.905556  2.576607     9
317      2.0  26.960000  5.402296     2
315      7.0  27.770000       NaN     1
313      3.0  27.970000       NaN     1
395      2.0  49.360000  5.741707     2
415      5.0  50.616667  4.073015     9
420      3.0  51.523333  4.421558     9
493      5.0  15.650000  1.586640     9
492      3.0  15.823333  1.619576     9
499      5.0  16.715000  0.841457     2
551      2.0  17.105000  3.415326     2
549      7.0  18.510000       NaN     1
547      3.0  18.910000       NaN     1
625      3.0  31.200000       NaN     1
629      2.0  31.625000  5.437651     2
654      3.0  31.902222  4.399460     9
726      3.0   4.325556  0.766732     9
727      5.0   4.334444  0.319183     9
733      5.0   5.360000  0.325269     2
783      7.0   6.240000       NaN     1
785      2.0   6.440000  0.848528     2
781      3.0   7.440000       NaN     1
860      5.0   9.830000       NaN     1
867     10.0   9.830000       NaN     1
888      3.0   9.952222  2.075083     9
960      3.0  26.444444  2.336339     9
961      5.0  27.308889  1.515474     9
967      5.0  27.475000  1.294005     2
1019     2.0  26.055000  1.562706     2
1015     3.0  28.170000       NaN     1
1017     7.0  30.180000       NaN     1
1100     7.0  50.850000       NaN     1
1122     3.0  51.186667  5.881035     9
1117     5.0  52.192222  4.932557     9
1194     3.0  15.712222  1.585818     9
1195     5.0  16.107778  1.229317     9
1201     5.0  17.445000  0.459619     2
1253     2.0  18.310000  2.276884     2
1249     3.0  19.320000       NaN     1
1251     7.0  21.130000       NaN     1
1351     5.0  32.234444  3.973563     9
1331     2.0  32.480000  2.418305     2
1356     3.0  33.237778  4.272499     9
1428     3.0  48.331111  3.636191     9
1429     5.0  49.958889  3.625798     9
1435     5.0  53.890000  0.452548     2
1507     5.0  45.855556  4.934218     9
1512     3.0  45.905556  6.499914     9
1490     7.0  46.150000       NaN     1

In [11]:
# Results for base CLIP model (filtered a bit)
full_display(df_results[(df_results['AL.iter'].isna()) & (df_results['method'] == 'base') & (df_results['lr']==5e-5)].groupby(['metric', 'dataset']).tail(3))

                  metric    dataset AL.epochs method  bs epochs       lr  \

33     image_to_text_R@1      RSICD      25.0   base  64     25  0.00005
35     image_to_text_R@1      RSICD      35.0   base  64     35  0.00005
34     image_to_text_R@1      RSICD      30.0   base  64     30  0.00005
111    image_to_text_R@1     Sydney      25.0   base  64     25  0.00005
113    image_to_text_R@1     Sydney      35.0   base  64     35  0.00005
112    image_to_text_R@1     Sydney      30.0   base  64     30  0.00005
188    image_to_text_R@1        UCM      20.0   base  64     20  0.00005
191    image_to_text_R@1        UCM      35.0   base  64     35  0.00005
190    image_to_text_R@1        UCM      30.0   base  64     30  0.00005
268   image_to_text_R@10      RSICD      30.0   base  64     30  0.00005
267   image_to_text_R@10      RSICD      25.0   base  64     25  0.00005
269   image_to_text_R@10      RSICD      35.0   base  64     35  0.00005
345   image_to_text_R@10     Sydney      25.0   base  64     25  0.00005
346   image_to_text_R@10     Sydney      30.0   base  64     30  0.00005
347   image_to_text_R@10     Sydney      35.0   base  64     35  0.00005
424   image_to_text_R@10        UCM      30.0   base  64     30  0.00005
423   image_to_text_R@10        UCM      25.0   base  64     25  0.00005
425   image_to_text_R@10        UCM      35.0   base  64     35  0.00005
501    image_to_text_R@5      RSICD      25.0   base  64     25  0.00005
502    image_to_text_R@5      RSICD      30.0   base  64     30  0.00005
503    image_to_text_R@5      RSICD      35.0   base  64     35  0.00005
581    image_to_text_R@5     Sydney      35.0   base  64     35  0.00005
579    image_to_text_R@5     Sydney      25.0   base  64     25  0.00005
580    image_to_text_R@5     Sydney      30.0   base  64     30  0.00005
656    image_to_text_R@5        UCM      20.0   base  64     20  0.00005
658    image_to_text_R@5        UCM      30.0   base  64     30  0.00005
659    image_to_text_R@5        UCM      35.0   base  64     35  0.00005
735    text_to_image_R@1      RSICD      25.0   base  64     25  0.00005
736    text_to_image_R@1      RSICD      30.0   base  64     30  0.00005
737    text_to_image_R@1      RSICD      35.0   base  64     35  0.00005
812    text_to_image_R@1     Sydney      20.0   base  64     20  0.00005
814    text_to_image_R@1     Sydney      30.0   base  64     30  0.00005
815    text_to_image_R@1     Sydney      35.0   base  64     35  0.00005
890    text_to_image_R@1        UCM      20.0   base  64     20  0.00005
893    text_to_image_R@1        UCM      35.0   base  64     35  0.00005
892    text_to_image_R@1        UCM      30.0   base  64     30  0.00005
969   text_to_image_R@10      RSICD      25.0   base  64     25  0.00005
971   text_to_image_R@10      RSICD      35.0   base  64     35  0.00005
970   text_to_image_R@10      RSICD      30.0   base  64     30  0.00005
1047  text_to_image_R@10     Sydney      25.0   base  64     25  0.00005
1049  text_to_image_R@10     Sydney      35.0   base  64     35  0.00005
1048  text_to_image_R@10     Sydney      30.0   base  64     30  0.00005
1125  text_to_image_R@10        UCM      25.0   base  64     25  0.00005
1126  text_to_image_R@10        UCM      30.0   base  64     30  0.00005
1127  text_to_image_R@10        UCM      35.0   base  64     35  0.00005
1203   text_to_image_R@5      RSICD      25.0   base  64     25  0.00005
1205   text_to_image_R@5      RSICD      35.0   base  64     35  0.00005
1204   text_to_image_R@5      RSICD      30.0   base  64     30  0.00005
1282   text_to_image_R@5     Sydney      30.0   base  64     30  0.00005
1281   text_to_image_R@5     Sydney      25.0   base  64     25  0.00005
1283   text_to_image_R@5     Sydney      35.0   base  64     35  0.00005
1361   text_to_image_R@5        UCM      35.0   base  64     35  0.00005
1360   text_to_image_R@5        UCM      30.0   base  64     30  0.00005
1359   text_to_image_R@5        UCM      25.0   base  64     25  0.00005
1437   zeroshot-val-top1  RSICD-CLS      25.0   base  64     25  0.00005
1438   zeroshot-val-top1  RSICD-CLS      30.0   base  64     30  0.00005
1439   zeroshot-val-top1  RSICD-CLS      35.0   base  64     35  0.00005
1515   zeroshot-val-top1    UCM-CLS      25.0   base  64     25  0.00005
1517   zeroshot-val-top1    UCM-CLS      35.0   base  64     35  0.00005
1516   zeroshot-val-top1    UCM-CLS      30.0   base  64     30  0.00005

     AL.iter      value
                   mean       std count
33       NaN   6.562222  0.843027     9
35       NaN   6.614444  0.863411     9
34       NaN   6.624444  0.898723     9
111      NaN   4.113333  1.026779     9
113      NaN   4.448889  0.837339     9
112      NaN   4.494444  0.875416     9
188      NaN  14.047778  2.062800     9
191      NaN  14.714444  1.647727     9
190      NaN  15.191111  2.095772     9
268      NaN  37.657778  1.341881     9
267      NaN  37.708889  1.155362     9
269      NaN  38.094444  1.387859     9
345      NaN  22.220000  1.228597     9
346      NaN  22.491111  2.396672     9
347      NaN  22.803333  1.537880     9
424      NaN  75.711111  2.950582     9
423      NaN  75.996667  2.360434     9
425      NaN  76.333333  1.948070     9
501      NaN  23.260000  1.582427     9
502      NaN  23.443333  1.615418     9
503      NaN  23.625556  1.730283     9
581      NaN  13.973333  1.471666     9
579      NaN  14.194444  1.475077     9
580      NaN  14.285556  2.066314     9
656      NaN  49.046667  2.156908     9
658      NaN  49.997778  2.658579     9
659      NaN  50.424444  2.741889     9
735      NaN   6.511111  0.931550     9
736      NaN   6.848889  0.694468     9
737      NaN   6.958889  0.730966     9
812      NaN   4.873333  0.920285     9
814      NaN   5.097778  0.841944     9
815      NaN   5.164444  0.683156     9
890      NaN  13.951111  1.567159     9
893      NaN  13.998889  1.169652     9
892      NaN  14.095556  0.813205     9
969      NaN  37.383333  1.894980     9
971      NaN  37.942222  1.700954     9
970      NaN  37.962222  1.442487     9
1047     NaN  24.480000  1.194383     9
1049     NaN  25.084444  1.386994     9
1048     NaN  25.127778  1.165974     9
1125     NaN  74.425556  3.029901     9
1126     NaN  75.281111  2.713966     9
1127     NaN  75.427778  3.181610     9
1203     NaN  23.260000  1.227385     9
1205     NaN  23.503333  1.352146     9
1204     NaN  23.566667  1.241139     9
1282     NaN  15.336667  1.164313     9
1281     NaN  15.515556  1.252349     9
1283     NaN  15.604444  0.910386     9
1361     NaN  49.095556  1.375783     9
1360     NaN  49.236667  1.749743     9
1359     NaN  49.378889  1.952988     9
1437     NaN  65.994444  2.780315     9
1438     NaN  66.554444  2.427288     9
1439     NaN  66.615556  2.320879     9
1515     NaN  66.857778  3.878353     9
1517     NaN  67.378889  2.900217     9
1516     NaN  67.712222  2.909960     9

In [12]:
# Results for S-CLIP model (filtered a bit)
full_display(df_results[(df_results['AL.iter'].isna()) & (df_results['method'] == 'ours') & (df_results['lr']==5e-5)].groupby(['metric', 'dataset']).tail(3))

                  metric    dataset AL.epochs method   bs epochs       lr  \

70     image_to_text_R@1      RSICD      25.0   ours  128     25  0.00005
73     image_to_text_R@1      RSICD      30.0   ours  128     30  0.00005
76     image_to_text_R@1      RSICD      35.0   ours  128     35  0.00005
142    image_to_text_R@1     Sydney      15.0   ours  128     15  0.00005
151    image_to_text_R@1     Sydney      30.0   ours  128     30  0.00005
154    image_to_text_R@1     Sydney      35.0   ours  128     35  0.00005
226    image_to_text_R@1        UCM      25.0   ours  128     25  0.00005
229    image_to_text_R@1        UCM      30.0   ours  128     30  0.00005
232    image_to_text_R@1        UCM      35.0   ours  128     35  0.00005
304   image_to_text_R@10      RSICD      25.0   ours  128     25  0.00005
310   image_to_text_R@10      RSICD      35.0   ours  128     35  0.00005
307   image_to_text_R@10      RSICD      30.0   ours  128     30  0.00005
382   image_to_text_R@10     Sydney      25.0   ours  128     25  0.00005
385   image_to_text_R@10     Sydney      30.0   ours  128     30  0.00005
388   image_to_text_R@10     Sydney      35.0   ours  128     35  0.00005
445   image_to_text_R@10        UCM      35.0   ours   64     35  0.00005
463   image_to_text_R@10        UCM      30.0   ours  128     30  0.00005
466   image_to_text_R@10        UCM      35.0   ours  128     35  0.00005
538    image_to_text_R@5      RSICD      25.0   ours  128     25  0.00005
541    image_to_text_R@5      RSICD      30.0   ours  128     30  0.00005
544    image_to_text_R@5      RSICD      35.0   ours  128     35  0.00005
598    image_to_text_R@5     Sydney      30.0   ours   64     30  0.00005
619    image_to_text_R@5     Sydney      30.0   ours  128     30  0.00005
622    image_to_text_R@5     Sydney      35.0   ours  128     35  0.00005
700    image_to_text_R@5        UCM      35.0   ours  128     35  0.00005
697    image_to_text_R@5        UCM      30.0   ours  128     30  0.00005
694    image_to_text_R@5        UCM      25.0   ours  128     25  0.00005
775    text_to_image_R@1      RSICD      30.0   ours  128     30  0.00005
778    text_to_image_R@1      RSICD      35.0   ours  128     35  0.00005
757    text_to_image_R@1      RSICD      35.0   ours   64     35  0.00005
856    text_to_image_R@1     Sydney      35.0   ours  128     35  0.00005
853    text_to_image_R@1     Sydney      30.0   ours  128     30  0.00005
850    text_to_image_R@1     Sydney      25.0   ours  128     25  0.00005
928    text_to_image_R@1        UCM      25.0   ours  128     25  0.00005
931    text_to_image_R@1        UCM      30.0   ours  128     30  0.00005
934    text_to_image_R@1        UCM      35.0   ours  128     35  0.00005
1006  text_to_image_R@10      RSICD      25.0   ours  128     25  0.00005
1009  text_to_image_R@10      RSICD      30.0   ours  128     30  0.00005
1012  text_to_image_R@10      RSICD      35.0   ours  128     35  0.00005
1084  text_to_image_R@10     Sydney      25.0   ours  128     25  0.00005
1087  text_to_image_R@10     Sydney      30.0   ours  128     30  0.00005
1090  text_to_image_R@10     Sydney      35.0   ours  128     35  0.00005
1165  text_to_image_R@10        UCM      30.0   ours  128     30  0.00005
1147  text_to_image_R@10        UCM      35.0   ours   64     35  0.00005
1168  text_to_image_R@10        UCM      35.0   ours  128     35  0.00005
1240   text_to_image_R@5      RSICD      25.0   ours  128     25  0.00005
1246   text_to_image_R@5      RSICD      35.0   ours  128     35  0.00005
1243   text_to_image_R@5      RSICD      30.0   ours  128     30  0.00005
1318   text_to_image_R@5     Sydney      25.0   ours  128     25  0.00005
1321   text_to_image_R@5     Sydney      30.0   ours  128     30  0.00005
1324   text_to_image_R@5     Sydney      35.0   ours  128     35  0.00005
1396   text_to_image_R@5        UCM      25.0   ours  128     25  0.00005
1399   text_to_image_R@5        UCM      30.0   ours  128     30  0.00005
1402   text_to_image_R@5        UCM      35.0   ours  128     35  0.00005
1474   zeroshot-val-top1  RSICD-CLS      25.0   ours  128     25  0.00005
1477   zeroshot-val-top1  RSICD-CLS      30.0   ours  128     30  0.00005
1480   zeroshot-val-top1  RSICD-CLS      35.0   ours  128     35  0.00005
1552   zeroshot-val-top1    UCM-CLS      25.0   ours  128     25  0.00005
1555   zeroshot-val-top1    UCM-CLS      30.0   ours  128     30  0.00005
1558   zeroshot-val-top1    UCM-CLS      35.0   ours  128     35  0.00005

     AL.iter      value
                   mean       std count
70       NaN   5.891111  0.633590     9
73       NaN   5.892222  0.510803     9
76       NaN   6.136667  0.590656     9
142      NaN   3.465556  0.565401     9
151      NaN   3.511111  0.860936     9
154      NaN   3.644444  0.951513     9
226      NaN  12.382222  1.689333     9
229      NaN  12.525556  1.375873     9
232      NaN  12.715556  1.136421     9
304      NaN  37.594444  1.299741     9
310      NaN  38.165556  1.047152     9
307      NaN  38.277778  1.188863     9
382      NaN  20.232222  1.650589     9
385      NaN  20.477778  1.164289     9
388      NaN  21.126667  1.677081     9
445      NaN  74.427778  2.500069     9
463      NaN  74.998889  2.583198     9
466      NaN  74.998889  2.351635     9
538      NaN  22.914444  1.126356     9
541      NaN  22.946667  1.272576     9
544      NaN  23.067778  1.207278     9
598      NaN  12.318889  0.916726     9
619      NaN  12.811111  1.364088     9
622      NaN  13.056667  1.305354     9
700      NaN  46.190000  2.232252     9
697      NaN  46.193333  2.460899     9
694      NaN  46.477778  1.285397     9
775      NaN   6.300000  0.669384     9
778      NaN   6.398889  0.747854     9
757      NaN   6.583333  0.838973     9
856      NaN   4.761111  0.854524     9
853      NaN   4.873333  0.797449     9
850      NaN   4.985556  0.444722     9
928      NaN  12.953333  1.651923     9
931      NaN  13.191111  1.488997     9
934      NaN  13.810000  1.506826     9
1006     NaN  38.066667  1.752883     9
1009     NaN  38.716667  1.239960     9
1012     NaN  38.796667  1.512076     9
1084     NaN  22.624444  1.077278     9
1087     NaN  23.608889  1.414827     9
1090     NaN  23.676667  1.074500     9
1165     NaN  75.190000  3.164641     9
1147     NaN  75.331111  2.262645     9
1168     NaN  75.713333  2.888481     9
1240     NaN  23.105556  1.625516     9
1246     NaN  23.604444  1.202145     9
1243     NaN  23.747778  1.425130     9
1318     NaN  14.464444  0.892092     9
1321     NaN  15.046667  0.848499     9
1324     NaN  15.270000  0.941063     9
1396     NaN  47.617778  2.348014     9
1399     NaN  48.144444  2.155662     9
1402     NaN  48.333333  2.214379     9
1474     NaN  70.402222  1.562936     9
1477     NaN  70.848889  1.808967     9
1480     NaN  70.898889  1.860977     9
1552     NaN  64.714444  2.166911     9
1555     NaN  64.811111  1.539297     9
1558     NaN  65.145556  1.852924     9